{% extends "base.html" %}

{% block title %}教程{% endblock %}

{% block head %}{% endblock %}

{% block body %}
    <div class="course" style="display: flex; margin-top: 30px;">
        <div class="card mr-5 ml-5" style="width: 18rem;background-color: #3B666B;text-align: center">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">回溯算法</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-dark">去学习</a>
            </div>
        </div>
        <div class="card mr-5" style="width: 18rem;background-color: #3B666B;text-align: center">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">动态规划算法</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-dark">去学习</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;background-color: #3B666B;text-align: center">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">遗传算法</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-dark">去学习</a>
            </div>
        </div>
    </div>
{% endblock %}